@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');

html {
	height: 100vh;
}

body {
	background-image: url('./DTS_In_Focus_Daniel_Farò_4977.jpg');
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	color: white;
	font-family: Poppins;
	text-transform: uppercase;
}

.box {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: repeat(3, 1fr);
	grid-column-gap: 0px;
	grid-row-gap: 0px;
	border-radius: 5px;
}

p {
	grid-area: 2 / 2 / 3 / 3;
	text-align: center;
	padding-top: 8px;
}

#instrument {
	height: 233px;
	width: 470px;
	padding-right: 10px;
	padding-top: 50px;
	display: flex;
	flex-wrap: wrap-reverse;
	flex-direction: row;
	margin: auto;
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
}

.box {
	width: 100px;
	height: 100px;
	margin-left: 10px;
	margin-top: 10px;
}

#c1 {
	background-color: rgba(255, 255, 255, 0.3);
	border: 3px solid rgb(243, 243, 200);
}

#d {
	background-color: rgba(255, 255, 255, 0.3);
	border: 3px solid rgb(243, 243, 200);
}

#e {
	background-color: rgba(255, 255, 255, 0.3);
	border: 3px solid rgb(243, 243, 200);
}

#f {
	background-color: rgba(255, 255, 255, 0.3);
	border: 3px solid rgb(243, 243, 200);
}

#g {
	background-color: rgba(255, 255, 255, 0.3);
	border: 3px solid rgb(243, 243, 200);
}

#a {
	background-color: rgba(255, 255, 255, 0.3);
	border: 3px solid rgb(243, 243, 200);
}

#b {
	background-color: rgba(255, 255, 255, 0.3);
	border: 3px solid rgb(243, 243, 200);
}

#c {
	background-color: rgba(255, 255, 255, 0.3);
	border: 3px solid rgb(243, 243, 200);
}

/* active classes */

/* hovers */

#f:hover {
	background-color: rgba(255, 255, 255, 0);
	cursor: pointer;
}

#e:hover {
	background-color: rgba(255, 255, 255, 0);
	cursor: pointer;
}

#g:hover {
	background-color: rgba(255, 255, 255, 0);
	cursor: pointer;
}

#d:hover {
	background-color: rgba(255, 255, 255, 0);
	cursor: pointer;
}

#c1:hover {
	background-color: rgba(255, 255, 255, 0);
	cursor: pointer;
}

/* #c:hover {
	background-color: rgba(255, 255, 255, 1);
	cursor: pointer;
}

#b:hover {
	background-color: #6f3a62;
	cursor: pointer;
}

#a:hover {
	background-color: #4e2753;
	cursor: pointer;
}

#g:hover {
	background-color: #184d65;
	cursor: pointer;
} */

/* active pseudo classes */

#d:active {
	background-color: rgba(255, 255, 255, 0);
}

#e:active {
	background-color: rgba(255, 255, 255, 0);
}

#f:active {
	background-color: rgba(255, 255, 255, 0);
}

#g:active {
	background-color: rgba(255, 255, 255, 0);
}

#a:active {
	background-color: rgba(255, 255, 255, 0);
}

#b:active {
	background-color: rgba(255, 255, 255, 0);
}

#c:active {
	background-color: rgba(255, 255, 255, 0);
}

#c1:active {
	background-color: rgba(255, 255, 255, 0);
}
